@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #001a74;
  --background: #011222;
  --accent: #1ceddc;
}

body {
  min-height: 100vh;
  background-color: var(--background);
  color: white;
}
